/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*custom*/

.container{
    width: 80%;
    margin: 0 auto;
}
.flex{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header{
    background-color: #243a6b;
    margin-bottom: 40px;
}
.brand{
    width: 100px;
    background-color: #243a6b;
}
.heada{
    color: white;
    text-decoration: none;
    text-transform: capitalize;
    margin-left: 16px;
}
.profile{
    vertical-align: super;
    margin-left: 15px;
}
.col1{
    width: 30%;
    background-color: #a3caea;
    border-radius: 10px;
    height: 700px;
}
.col2{
    width: 65%;
    border-radius: 10px;
    background-color: #f2f8fd;
    height: 700px;
}
.col1a{
    color: black;
    text-decoration: none;
    text-transform: capitalize; 
    margin-bottom: 20px;  
}
.links{
    margin: 20px 40px;
}
.links-img{
    margin-right: 5px;
}
.current{
    color: #ff7c2c;
    padding: 10px;
    border: 2px solid #ff7c2c;
    border-radius: 2px;
}
.current1{
    color: #ff7c2c;
}
.col11{
    display: flex;
    flex-direction: column;
    align-content: space-between;
}
.logout{
    margin: 300px 10px 20px 10px;
    border-radius: 10px;
    display: flex;
    justify-content: left;
    flex-direction: row;
    padding: 10px 50px;
    background-color: white;    
}
.logout-btn{
    margin: 5px 0 5px 10px;
}
.col2img{
    width: 94%;
    height: auto;
    margin: 20px;
}
h1{
    font-size: 45px;
    margin: 10px 20px;
}
.text{
    margin: 20px;
    margin-bottom: 40px;
    line-height: 1.5;
    color: black;
}
.readmore{
    background-color: green;
    padding: 20px 40px;
    color: white;
    text-decoration: none;
    text-transform: capitalize;
    border-radius: 10px;
    margin: 40px 20px 0 20px;
}
footer{
    background-color: #243a6b;
    padding: 20px;
    margin-top: 30px;
}
p{
    color: whitesmoke;
}
.foota{
    color: whitesmoke;
    text-decoration: none;
    margin-left: 16px;
}